*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  padding: 2px;
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #EDF2F4;
}

#root{
  width: 100%;
  height: auto;
  padding: 10px;
}

header{
  display: flex;
  justify-content: space-between;
  border-radius: 12px;
  width: 90%;
  margin-left: 4%;
  margin-bottom: 3%;
  padding: 7px;
  align-items: center;
  box-shadow: 5px 5px 20px 10px #8D99AE;

  h1{
    font-size: 3.2em;
    line-height: 1.1;
    letter-spacing: 2px;
    transition: all 1s;
    color: #2B2D42;
    margin-left: 3%;
  }
  
  h1:hover{
    font-size: 3.4em;
    line-height: 1.2;
    letter-spacing: 2.5;
    color: rgb(38, 38, 43);
  }
  
  h2{
    font-size: 2em;
    line-height: 1.0;
    letter-spacing: 1px;
  }
  
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 12px;
  width: 90%;
  margin-left: 4%;
  padding: 5px;
  margin-bottom: 3%;
  box-shadow: 2px 2px 20px 10px #8D99AE;
  color: #2B2D42;

    .info{
      box-shadow: none;
    }

    .contenedores{
      display: flex;
      justify-content: space-between;
      margin-left: 2%;
      width: 95%;
      padding: 5px;
    }

    .habilidades{
      display: flex;
      justify-content: space-around;
      margin-left: 2%;
      width: 95%;
      padding: 5px;

        .front, .back{
          display: flex;
          flex-direction: column;
          width: 45%;

          h2, p{
            text-align: center;
          }
        }
    }

    h1{
      text-align: center;
      color: #2B2D42;
    }

    h4{
      text-align: center;
      color: #D90429;
    }
}

.proyectos{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 4%;
  padding: 5px;
  margin-bottom: 3%;

    h2{
      text-align: center;
    }
}

.perfil{
  border-radius: 50%;
  width: 10%;
  margin: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: #2B2D42;
  background-color: #EDF2F4;
}